*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
/* Fazendo o cabeçalho */
header{
    width: 100%;
    height: 80px;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    box-shadow: 0 2px 8px rgba(0,0,0,0,1);
}

.botao-agendar {
    
    display: inline-block;       
    padding: 8px 16px;
    border: none;
    background: transparent;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}
.botao-agendar:hover {
    background: rgba(255, 255, 255, 0.1);
}

a {
    text-decoration: none;
}

.logo{
    width: 70px;
    height: 70px;
    background-color: #fcfcfc;
    border-radius: 50%;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.menu_principal {
    display: flex;
    gap: 30px;
    list-style: none;
}

.menu_principal p{
    font-size: 25px;
    font-weight: 500;
    color: #ffffff;
    cursor: pointer;
    transition: color 0.3s ease;
}

.menu_principal p:hover {
    color: #7a7a7a;
}



/* fazendo o conteudo principal da página */

.conteudo_principal section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.conteudo_principal article {
    background-color: #f9f9f9;
    background-position: top center;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0,0,0,0,1);
}

.conteudo_principal article img {
    width: 100%;
    height: 400px;
    object-fit: contain;
    display: block;
}

/* Fazendo o Rodapé */

footer {
    background-color: #000000;
    padding: 30px 40px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    box-shadow: 0 -2px 8px rgba(0,0,0,0,1);
}

.logo2 {
    width: 80px;
    height: 80px;
    margin-right: 20px;
}

.logo2 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

footer .info {
    flex: 1;
    margin: 0 40px;
}

footer .info p {
    margin-bottom: 10px;
    line-height: 1.5;
    color: #fffcfc;
    font-size: 22px;
}


footer .redes {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

footer .redes img {
    width: 35px;
    height: 35px;
    cursor: pointer;
    transition: transform 0.2s;
}

footer .redes img:hover {
    transform: scale(1.1);
}

@media (max-width: 768px){
    header {
        flex-direction: column;
        height: auto;
        padding: 10px 20px;
    }
    .menu_principal{
        flex-direction: column;
        gap: 10px;
        margin-top: 10px;
        align-items: center;
    }
    .conteudo_principal section {
        grid-template-columns: 1fr;
    }
    footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    footer .info {
        margin: 20px 0;
    }
    footer .redes {
        flex-direction: row;
        justify-content: center;
    }
}